.alert-error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px 30px;
  border-radius: 5px;
}

#root{
  background-color:#f7f7f7;
  height: 100vh;
  font-family: sans-serif;
  font-size: 1.2em;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.3px;
}

header{
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  padding: 30px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

select{
  font-size: 0.9em;
  margin: 10px;
  outline: none;
}

main{
  display: flex;
  align-items: flex-start;
  padding: 0 8px;
}

main>section{
  flex: 1;
  background-color: white;
  margin-left: 15px;
  list-style: none;
  line-height: 1.5em;
  margin-bottom: 5px;
  padding: 30px;
  box-shadow: 0px 4px 8px grey;
}

main>section:first-child{
  margin-left: 0;
}

.contributor{
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.contributor img{
  border-radius: 8px;
  
}

.contributor a{
  text-decoration: none;
  margin-left: 15px;
}

.contributor span{
  margin-left: auto;
  background-color: #808080;
  border-radius: 8px;
  padding: 6px;
  color: white;
}

hr{
  margin-top: 25px;
}

@media all and (max-width:799px){
  main{
    display: block;
  }
  main>section{
    margin-left: 0;
  }
  header{
    display: block;
  }
  select{
    margin: 0;
  }
}

@media all and (max-width:499px){
  #root{
    width: 93vw;
    font-size: 1em;
  }
}
